.link-button
    padding: 6px 0
    cursor: pointer
    user-select: none
    --selected-colour: #11c963

    &.indented
        padding-left: 40px

    &.selected
        color: var(--selected-colour)
        cursor: default

        &:hover,&:active
            color: var(--selected-colour)

    &.disabled
        opacity: .5
        cursor: not-allowed

        &:hover,&:active
            color: inherit

    &:hover
        color: #c35656

    &:active
        color: #f14747