html
    background: #1c1c1c
    color: #eeeeee
    font-family: "ubuntu mono"
    font-size: 19px

body,p,h2
    margin: 0

main
    width: 50%
    margin: auto

    .info
        margin-top: 30%
        margin-bottom: 65px

        p
            margin: 3px 0

    .control-container
        h2
            font-size: 19px
            font-weight: 400

    .link-button
        padding: 6px 0
        cursor: pointer

        &.indented
            padding-left: 30px

        &:hover
            color: red
